# ======= shortcut =================
*.lnk

# ======= sensitive files ==========
credentials.json

# ======= build files ==============
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.venv